flowSensor.json
[
    {
        "id": "567153203a11f536",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ac87398af7c4a476",
        "type": "mqtt in",
        "z": "567153203a11f536",
        "name": "",
        "topic": "postgres/sensors/boton",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0d16543b2ffdbac5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 240,
        "wires": [
            [
                "1a7eea378e93a6c8"
            ]
        ]
    },
    {
        "id": "1a7eea378e93a6c8",
        "type": "postgresql",
        "z": "567153203a11f536",
        "name": "",
        "query": "INSERT INTO sensor_details (sensor_id, user_id, value) VALUES (4,1,'{{{msg.payload}}}');",
        "postgreSQLConfig": "ef157743cd3ef5d6",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 450,
        "y": 220,
        "wires": [
            [
                "d7e6a24ccbe5a7aa"
            ]
        ]
    },
    {
        "id": "d7e6a24ccbe5a7aa",
        "type": "debug",
        "z": "567153203a11f536",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "0d16543b2ffdbac5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ef157743cd3ef5d6",
        "type": "postgreSQLConfig",
        "name": "aiot",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "aiot",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "utng",
        "userFieldType": "str",
        "password": "1234",
        "passwordFieldType": "str"
    }
]
[
    {
        "id": "567153203a11f536",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ac87398af7c4a476",
        "type": "mqtt in",
        "z": "567153203a11f536",
        "name": "",
        "topic": "postgres/sensors/inclinacion",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0d16543b2ffdbac5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 240,
        "wires": [
            [
                "1a7eea378e93a6c8"
            ]
        ]
    },
    {
        "id": "1a7eea378e93a6c8",
        "type": "postgresql",
        "z": "567153203a11f536",
        "name": "",
        "query": "INSERT INTO sensor_details (sensor_id, user_id, value) VALUES (27,1,'{{{msg.payload}}}');",
        "postgreSQLConfig": "ef157743cd3ef5d6",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 450,
        "y": 220,
        "wires": [
            [
                "d7e6a24ccbe5a7aa"
            ]
        ]
    },
    {
        "id": "d7e6a24ccbe5a7aa",
        "type": "debug",
        "z": "567153203a11f536",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "0d16543b2ffdbac5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ef157743cd3ef5d6",
        "type": "postgreSQLConfig",
        "name": "aiot",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "aiot",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "utng",
        "userFieldType": "str",
        "password": "1234",
        "passwordFieldType": "str"
    }
]
[
    {
        "id": "567153203a11f536",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ac87398af7c4a476",
        "type": "mqtt in",
        "z": "567153203a11f536",
        "name": "",
        "topic": "postgres/sensors/mercurio",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0d16543b2ffdbac5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 240,
        "wires": [
            [
                "1a7eea378e93a6c8"
            ]
        ]
    },
    {
        "id": "1a7eea378e93a6c8",
        "type": "postgresql",
        "z": "567153203a11f536",
        "name": "",
        "query": "INSERT INTO sensor_details (sensor_id, user_id, value) VALUES (17,1,'{{{msg.payload}}}');",
        "postgreSQLConfig": "ef157743cd3ef5d6",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 450,
        "y": 220,
        "wires": [
            [
                "d7e6a24ccbe5a7aa"
            ]
        ]
    },
    {
        "id": "d7e6a24ccbe5a7aa",
        "type": "debug",
        "z": "567153203a11f536",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "0d16543b2ffdbac5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ef157743cd3ef5d6",
        "type": "postgreSQLConfig",
        "name": "aiot",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "aiot",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "utng",
        "userFieldType": "str",
        "password": "1234",
        "passwordFieldType": "str"
    }
]
[
    {
        "id": "567153203a11f536",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ac87398af7c4a476",
        "type": "mqtt in",
        "z": "567153203a11f536",
        "name": "",
        "topic": "postgres/sensors/micsensible",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0d16543b2ffdbac5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 240,
        "wires": [
            [
                "1a7eea378e93a6c8"
            ]
        ]
    },
    {
        "id": "1a7eea378e93a6c8",
        "type": "postgresql",
        "z": "567153203a11f536",
        "name": "",
        "query": "INSERT INTO sensor_details (sensor_id, user_id, value) VALUES (37,1,'{{{msg.payload}}}');",
        "postgreSQLConfig": "ef157743cd3ef5d6",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 450,
        "y": 220,
        "wires": [
            [
                "d7e6a24ccbe5a7aa"
            ]
        ]
    },
    {
        "id": "d7e6a24ccbe5a7aa",
        "type": "debug",
        "z": "567153203a11f536",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "0d16543b2ffdbac5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ef157743cd3ef5d6",
        "type": "postgreSQLConfig",
        "name": "aiot",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "aiot",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "utng",
        "userFieldType": "str",
        "password": "1234",
        "passwordFieldType": "str"
    }
]
[
    {
        "id": "567153203a11f536",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ac87398af7c4a476",
        "type": "mqtt in",
        "z": "567153203a11f536",
        "name": "",
        "topic": "postgres/sensors/obstaculos",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0d16543b2ffdbac5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 240,
        "wires": [
            [
                "1a7eea378e93a6c8"
            ]
        ]
    },
    {
        "id": "1a7eea378e93a6c8",
        "type": "postgresql",
        "z": "567153203a11f536",
        "name": "",
        "query": "INSERT INTO sensor_details (sensor_id, user_id, value) VALUES (32,1,'{{{msg.payload}}}');",
        "postgreSQLConfig": "ef157743cd3ef5d6",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 450,
        "y": 220,
        "wires": [
            [
                "d7e6a24ccbe5a7aa"
            ]
        ]
    },
    {
        "id": "d7e6a24ccbe5a7aa",
        "type": "debug",
        "z": "567153203a11f536",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "0d16543b2ffdbac5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ef157743cd3ef5d6",
        "type": "postgreSQLConfig",
        "name": "aiot",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "aiot",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "utng",
        "userFieldType": "str",
        "password": "1234",
        "passwordFieldType": "str"
    }
]
[
    {
        "id": "567153203a11f536",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ac87398af7c4a476",
        "type": "mqtt in",
        "z": "567153203a11f536",
        "name": "",
        "topic": "postgres/sensors/intmagnetico",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0d16543b2ffdbac5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 240,
        "wires": [
            [
                "1a7eea378e93a6c8"
            ]
        ]
    },
    {
        "id": "1a7eea378e93a6c8",
        "type": "postgresql",
        "z": "567153203a11f536",
        "name": "",
        "query": "INSERT INTO sensor_details (sensor_id, user_id, value) VALUES (21,1,'{{{msg.payload}}}');",
        "postgreSQLConfig": "ef157743cd3ef5d6",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 450,
        "y": 220,
        "wires": [
            [
                "d7e6a24ccbe5a7aa"
            ]
        ]
    },
    {
        "id": "d7e6a24ccbe5a7aa",
        "type": "debug",
        "z": "567153203a11f536",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "0d16543b2ffdbac5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ef157743cd3ef5d6",
        "type": "postgreSQLConfig",
        "name": "aiot",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "aiot",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "utng",
        "userFieldType": "str",
        "password": "1234",
        "passwordFieldType": "str"
    }
]
